// IE < 10
// Don't delete.

.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

html {
  font-family: 'Open Sans', sans-serif;
}

#site-canvas {
  background-color: $primary-color;
}

.header {
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  padding: 0 1rem;

  .site-branding {
    padding: 1rem 0;
    @include media(medium-up) {
      float: left;
    }
    a {
      color: #fff;
    }
    h1:after {
      @extend %collecticon-circle-information;
      margin-left: 0.5rem;
      opacity: 0.70;
    }

    .site-subtitle {
      font-size: 0.625rem;
      line-height: 1rem;
      opacity: 0.9;
      text-transform: uppercase;
    }
  }
}

// The map toggle
#filter {
  height: 2rem;
  @include media(medium-up) {
    float: right;
    line-height: 2.5rem;
    padding: 1rem 0;
  }
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
    font-size: 0.875rem;
    font-weight: $base-font-bold;
    text-transform: uppercase;
    &.active {
      border-bottom: solid 2px;
    }
  }
}

#legend {
  position: absolute;
  overflow: hidden;
  bottom: 2rem;
  right: 1rem;
  z-index: 10;

  padding: 1rem;
  margin: 0;
  width: 15rem;

  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 0.25rem;

  font-size: 0.75rem;
  line-height: 1rem;

  dt {
    float: left;
    margin-right: 1rem;
    padding: 0.25rem 0;
    span {
      display: block;
      height: 0.5rem;
      width: 1.5rem;
      // yellow, green, orange, brown
      &.lv { background-color: #0288D1; }
      &.mv { background-color: #689F38; }
      &.hv { background-color: #F57C00; }
      &.ehv { background-color: #5D4037; }

      // yellow, orange, red, brown
      // &.lv { background-color: #FBC02D; }
      // &.mv { background-color: #F57C00; }
      // &.hv { background-color: #D32F2F; }
      // &.ehv { background-color: #5D4037; }
    }
  }
  dd {
    // line-height: 1.25rem;
  }
}

.modal {
  background-color: rgba(0,0,0,0.4);
  padding: 2rem;
  .modal__inner {
    background-color: #fff;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    border-radius: 0.25rem;
    padding: 3rem;
  }
  .modal__button-dismiss {
    right: 1rem;
    top: 1rem;
  }
  .modal__footer {
    font-size: 0.75rem;
    opacity: 0.7;
  }
}

#map {
  height: calc(100vh - 6.5rem);
  width: 100vw;
  @include media(medium-up) {
    height: calc(100vh - 4.5rem);
  }
}

.mapboxgl-popup-content {
  padding: 1rem !important;
  width: 8rem;
  dt {
    float: left;
    font-weight: $base-font-bold;
    margin-right: 0.25rem;
  }
}

// Overwrite the MB zoom controls
.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 1rem 0 0 1rem !important;
}
